# Dev
numpy
scipy
scikit-image
matplotlib
astropy
photutils
opencv-python

# Packaging
sphinx_rtd_theme
sphinx
recommonmark
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability