# Dev
numpy
scipy
scikit-image
matplotlib
astropy
photutils
opencv-python

# Packaging
sphinx_rtd_theme
sphinx
recommonmark
pillow>=8.3.2 # not directly required, pinned by Snyk to avoid a vulnerability